{{ $provider := .Get "provider" | default "youtube" }}
{{ $src := .Get "src" }}

<div class="relative w-full aspect-video rounded-xl overflow-hidden shadow-md my-6 bg-black">
    {{ if eq $provider "youtube" }}
        {{ $id := $src }}
        <!-- Extract ID if full watch URL is provided -->
        {{ if in $src "v=" }}
            {{ $id = index (split $src "v=") 1 }}
            {{ if in $id "&" }}
                {{ $id = index (split $id "&") 0 }}
            {{ end }}
        {{ else if in $src "youtu.be/" }}
            {{ $id = index (split $src "youtu.be/") 1 }}
        {{ else if in $src "embed/" }}
            {{ $id = index (split $src "embed/") 1 }}
        {{ end }}
        <iframe class="absolute top-0 left-0 w-full h-full border-0" src="https://www.youtube.com/embed/{{ $id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="YouTube Video Player"></iframe>
    {{ else if eq $provider "vimeo" }}
        {{ $id := $src }}
        {{ if in $src "vimeo.com/" }}
            {{ $id = index (split $src "vimeo.com/") 1 }}
        {{ end }}
        <iframe class="absolute top-0 left-0 w-full h-full border-0" src="https://player.vimeo.com/video/{{ $id }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Vimeo Video Player"></iframe>
    {{ else if eq $provider "local" }}
        <video class="absolute top-0 left-0 w-full h-full object-cover" controls>
            <source src="{{ $src | relURL }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {{ end }}
</div>
